################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Core.RetoTecnico/.vs/Core.RetoTecnico/FileContentIndex/7fea4f0f-8525-4455-96f4-f5e704f2a483.vsidx
